@import "tailwindcss";

@layer base {
  body {
    font-family: "Playfair Display", serif;
  }

  .font-body {
    font-family: "Cormorant Garamond", serif;
  }
  .font-roboto {
    font-family: "Roboto", system-ui, sans-serif;
  }

  input,
  select,
  button,
  label {
    font-family: "Roboto", system-ui, sans-serif;
  }

  .artwork-card p,
  .artwork-card span,
  .artwork-card h3 {
    font-family: "Roboto", system-ui, sans-serif;
  }
}
.swiper-pagination {
  position: relative !important;
  bottom: auto !important;
  margin-top: 1rem !important;
  z-index: 20 !important;
}
.swiper-wrapper {
  padding-left: 4rem;
  padding-right: 4rem;
}
