@import "tailwindcss";

@layer base {
  body {
    font-family: "Playfair Display", serif;
  }

  .font-body {
    font-family: "Cormorant Garamond", serif;
  }
  .font-roboto {
    font-family: "Roboto", system-ui, sans-serif;
  }

  input,
  select,
  button,
  label {
    font-family: "Roboto", system-ui, sans-serif;
  }

  .artwork-card p,
  .artwork-card span,
  .artwork-card h3 {
    font-family: "Roboto", system-ui, sans-serif;
  }
}
